# Ignore Data folder
*/data

# Ignore jupyter checkpoints
.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/.checkpoints/.ipynb_checkpoints/

# ignore node_modules
nodejs/*/node_modules

# spark
spark/notebooks/metastore_db
spark/notebooks/derby.log
spark/notebooks/spark-warehouse

# amazon linux
amazon-linux-lambda/build_dir
